<div class="flexDirectionRow">
  <div class="sideMenu">
    <dapp-menu
      [items]="[
        { label: 'Search', link: '/product/', icon: 'search' },
        {
          label: 'README',
          link: '/product/readme',
          icon: 'text_snippet'
        }
      ]"
    ></dapp-menu>
  </div>
  <div class="flexItemGrow5" [@routeAnimation]="getAnimationData()">
    <!-- Aqui serão rendereizados as rotas 'children' definidas no web3js.routing.module -->
    <router-outlet></router-outlet>
  </div>
</div>
