.container-row{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  align-content: center;
}


.container-column{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.item{
  font-weight: normal;
  color:black;
  width: 250px
}

.labelColumn{
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  color: #3f51b5;
}
.labelRow{
  font-size: 16px;
  font-weight: 500;
  color: #3f51b5;
}

.spCSSProperty{
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color:black;
}
