<div class="flexDirectionRow">
  <div class="sideMenu">
    <dapp-menu
      [items]="[
        { label: 'Flexbox Home', link: '/flexbox/', icon: 'home' },
        {
          label: 'Justify Content',
          link: '/flexbox/justify',
          icon: 'align_horizontal_left'
        },
        {
          label: 'Align Items',
          link: '/flexbox/alignItems',
          icon: 'align_vertical_top'
        },
        {
          label: 'Align Content',
          link: '/flexbox/alignContent',
          icon: 'vertical_distribute'
        }
      ]"
    ></dapp-menu>
  </div>
  <div class="flexItemGrow5">
    <!-- Aqui serão rendereizados as rotas 'children' definidas no web3js.routing.module -->
    <router-outlet></router-outlet>
  </div>
</div>
