<div class="container">
  <form [formGroup]="form" (ngSubmit)="approve($event)" class="form-container">
    <mat-form-field class="input_40characters" appearance="outline">
      <mat-label
        >{{ contract.isERC(721) ? "Approved" : "Spender" }} Address</mat-label
      >
      <input
        type="text"
        [disableControl]="isLoading"
        matInput
        [placeholder]="
          contract.isERC(721) ? 'Approved address' : 'Spenders address'
        "
        formControlName="spenderAddress"
        maxlength="42"
        minlength="40"
      />
      <mat-hint
        >Inform the 42 characters long spender's account address</mat-hint
      >
      <mat-error *ngIf="getErrorMessage('spenderAddress')">{{
        getErrorMessage("spenderAddress")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="input_40characters" appearance="outline">
      <mat-label>{{ contract.isERC(721) ? "Token ID" : "Value" }}</mat-label>
      <input
        type="text"
        [disableControl]="isLoading"
        matInput
        [placeholder]="contract.isERC(721) ? 'Token ID' : 'Allowance value'"
        formControlName="value"
        min="1"
        type="number"
      />
      <mat-hint
        >Inform the
        {{
          contract.isERC(721)
            ? "Non Fungible Token Identifier"
            : "allowance value in WEI units"
        }}
      </mat-hint>
      <mat-error *ngIf="getErrorMessage('value')">{{
        getErrorMessage("value")
      }}</mat-error>
    </mat-form-field>
    <button
      class="input_40characters"
      [disabled]="isLoading"
      [class.spinner]="isLoading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </form>
  <mat-divider></mat-divider>
  <div>
    <h2>Latest Approval Events</h2>
    <dapp-erc20-approval-event
      [eventList]="eventList"
      ngClass="events-container"
    >
    </dapp-erc20-approval-event>
  </div>
</div>
