<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/product" (click)="onSidenavClose()">
    <mat-icon>redeem</mat-icon><span class="nav-caption">Product REST</span>
  </a>
  <a mat-list-item routerLink="/web3js/link" (click)="onSidenavClose()">
    <mat-icon>monetization_on</mat-icon>
    <span class="nav-caption">Ðapp Web3.js</span>
  </a>
  <a mat-list-item routerLink="/dappWeb3js" (click)="onSidenavClose()">
    <mat-icon>monetization_on</mat-icon>
    <span class="nav-caption">Ðapp Ethers.js</span>
  </a>
  <mat-list-item
    [matMenuTriggerFor]="menu"
    *ngIf="this.owner == this.userAccountAddress"
  >
    <mat-icon>build</mat-icon>
    <a matline>Administration</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/adminBetToken"
      (click)="onSidenavClose()"
    >
      Bet Token
    </button>
    <button mat-menu-item routerLink="/adminGames" (click)="onSidenavClose()">
      Games
    </button>
  </mat-menu>
</mat-nav-list>
