<h1>Container: align-content</h1>
<p>
  <b>align-content</b> aligns a flex container’s lines within when there is
  extra space in the cross-axis, similar to how justify-content aligns
  individual items within the main-axis. only takes effect on multi-line
  flexible containers, where flex-wrap is set to either wrap or wrap-reverse). A
  single-line flexible container will not reflect align-content.
</p>
<div class="container-row">
  <mat-form-field>
    <mat-label>Children items</mat-label>
    <mat-select [(ngModel)]="childrenNumber">
      <mat-option *ngFor="let d of [3, 5, 10, 15, 20, 30, 50]" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>justify-content</mat-label>
    <mat-select [(ngModel)]="justifyContent">
      <mat-option
        *ngFor="
          let jc of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'space-between',
            'space-around',
            'space-evenly',
            'start',
            'end',
            'left',
            'right'
          ]
        "
        [value]="jc"
      >
        {{ jc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>align-items</mat-label>
    <mat-select [(ngModel)]="alignItems">
      <mat-option
        *ngFor="
          let ai of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'stretch',
            'baseline',
            'first baseline',
            'last baseline',
            'start',
            'end',
            'self-start',
            'self-end'
          ]
        "
        [value]="ai"
      >
        {{ ai }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>flex-wrap</mat-label>
    <mat-select [(ngModel)]="flexWrap">
      <mat-option
        *ngFor="let w of ['', 'nowrap', 'wrap', 'wrap-reverse']"
        [value]="w"
      >
        {{ w }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>row gap</mat-label>
    <input type="number" matInput [(ngModel)]="rowGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>column gap</mat-label>
    <input type="number" matInput [(ngModel)]="columnGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-slide-toggle color="primary" [(ngModel)]="showCSS">CSS</mat-slide-toggle>
</div>
<div class="container-column">
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="flex-start"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="flex-end"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="center"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>

  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="space-between"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="space-around"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="space-evenly"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="stretch"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="start"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="end"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="first baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignContent="last baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignItems]="alignItems"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
</div>
