<h1>Container: justify-content</h1>
<p>
  <b>justify-content</b> defines the alignment along the main axis. It helps
  distribute extra free space leftover when either all the flex items on a line
  are inflexible, or are flexible but have reached their maximum size.
</p>
<div class="container-row">
  <mat-form-field>
    <mat-label>Children items</mat-label>
    <mat-select [(ngModel)]="childrenNumber">
      <mat-option *ngFor="let d of [3, 5, 10, 15, 20, 30, 50]" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>align-items</mat-label>
    <mat-select [(ngModel)]="alignItems">
      <mat-option
        *ngFor="
          let ai of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'stretch',
            'baseline',
            'first baseline',
            'last baseline',
            'start',
            'end',
            'self-start',
            'self-end'
          ]
        "
        [value]="ai"
      >
        {{ ai }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>align-content</mat-label>
    <mat-select [(ngModel)]="alignContent">
      <mat-option
        *ngFor="
          let ac of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'space-between',
            'space-around',
            'space-evenly',
            'stretch',
            'start',
            'end',
            'baseline',
            'first baseline',
            'last baseline'
          ]
        "
        [value]="ac"
      >
        {{ ac }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>flex-wrap</mat-label>
    <mat-select [(ngModel)]="flexWrap">
      <mat-option
        *ngFor="let w of ['', 'nowrap', 'wrap', 'wrap-reverse']"
        [value]="w"
      >
        {{ w }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>row gap</mat-label>
    <input type="number" matInput [(ngModel)]="rowGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>column gap</mat-label>
    <input type="number" matInput [(ngModel)]="columnGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-slide-toggle color="primary" [(ngModel)]="showCSS">CSS</mat-slide-toggle>
</div>
<div class="container-column">
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="flex-start"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="flex-end"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="center"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>

  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="space-between"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="space-around"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="space-evenly"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="start"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="end"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="left"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="justify-content"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_justifyContent="right"
    [container_flexWrap]="flexWrap"
    [container_alignItems]="alignItems"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
</div>
