<h1>Container: align-items</h1>
<p>
  <b>align-items</b> defines the default behavior for how flex items are laid
  out along the cross axis on the current line. Think of it as the
  justify-content version for the cross-axis (perpendicular to the main-axis).
</p>
<div class="container-row">
  <mat-form-field>
    <mat-label>Children items</mat-label>
    <mat-select [(ngModel)]="childrenNumber">
      <mat-option *ngFor="let d of [3, 5, 10, 15, 20, 30, 50]" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>justify-content</mat-label>
    <mat-select [(ngModel)]="justifyContent">
      <mat-option
        *ngFor="
          let jc of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'space-between',
            'space-around',
            'space-evenly',
            'start',
            'end',
            'left',
            'right'
          ]
        "
        [value]="jc"
      >
        {{ jc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>align-content</mat-label>
    <mat-select [(ngModel)]="alignContent">
      <mat-option
        *ngFor="
          let ac of [
            '',
            'flex-start',
            'flex-end',
            'center',
            'space-between',
            'space-around',
            'space-evenly',
            'stretch',
            'start',
            'end',
            'baseline',
            'first baseline',
            'last baseline'
          ]
        "
        [value]="ac"
      >
        {{ ac }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>flex-wrap</mat-label>
    <mat-select [(ngModel)]="flexWrap">
      <mat-option
        *ngFor="let w of ['', 'nowrap', 'wrap', 'wrap-reverse']"
        [value]="w"
      >
        {{ w }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>row gap</mat-label>
    <input type="number" matInput [(ngModel)]="rowGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-form-field [ngStyle]="{ width: '7ch' }">
    <mat-label>column gap</mat-label>
    <input type="number" matInput [(ngModel)]="columnGap" />
    <span matSuffix>px</span>
  </mat-form-field>
  <mat-slide-toggle color="primary" [(ngModel)]="showCSS">CSS</mat-slide-toggle>
</div>
<div class="container-column">
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="stretch"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="flex-start"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="flex-end"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="center"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>

  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="first baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="last baseline"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="start"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="end"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="self-start"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
  <dapp-demo-property-flex-directions
    fixedProperty="align-items"
    [childrenNumber]="childrenNumber"
    container_display="flex"
    container_alignItems="self-end"
    [container_flexWrap]="flexWrap"
    [container_justifyContent]="justifyContent"
    [container_alignContent]="alignContent"
    [container_gap]="rowGap"
    [container_columnGap]="columnGap"
    [showCSS]="showCSS"
  >
  </dapp-demo-property-flex-directions>
</div>
