<div class="flexDirectionRow">
  <div class="sideMenu">
    <dapp-wallet></dapp-wallet>
    <dapp-menu
      [items]="[
        { label: 'Ðapp Web3.js Home', link: '/web3js', icon: 'home' },
        {
          label: 'LINK Token (' + LINK_CHAIN_ID + ')',
          link: '/web3js/link',
          icon: 'sell'
        }
      ]"
    ></dapp-menu>
  </div>
  <div class="flexItemGrow4">
    <!-- Aqui serão rendereizados as rotas 'children' definidas no web3js.routing.module -->
    <router-outlet></router-outlet>
  </div>
</div>
