<form [formGroup]="form" (ngSubmit)="getBalance($event)" class="container">
  <mat-form-field class="input_40characters" appearance="outline">
    <mat-label>Account Address</mat-label>
    <input
      type="text"
      [disableControl]="isLoading"
      matInput
      placeholder="Address to query token balance"
      formControlName="accountAddress"
      maxlength="42"
      minlength="40"
    />
    <mat-hint
      >Inform the 42 characters long account address and ENTER.</mat-hint
    >
    <mat-error *ngIf="getErrors('accountAddress').length > 0">{{
      getErrors("accountAddress")[0]
    }}</mat-error>
  </mat-form-field>
</form>

<div class="balance-container" *ngIf="showBalance">
  <label class="balance-label">{{ symbol }} Balance:</label>
  <mat-spinner diameter="50" *ngIf="isLoading; else balance"></mat-spinner>
</div>

<ng-template #balance>
  <div class="balance" [matTooltip]="formatedBalanceTooltip">
    {{ formatedBalance }}
  </div>
</ng-template>
