<form [formGroup]="form" (ngSubmit)="getAllowance($event)" class="container">
  <mat-form-field class="input_40characters" appearance="outline">
    <mat-label>Owner Address</mat-label>
    <input
      type="text"
      [disableControl]="isLoading"
      matInput
      placeholder="Owner's address"
      formControlName="ownerAddress"
      maxlength="42"
      minlength="40"
    />
    <mat-hint>Inform the 42 characters long owner's account address</mat-hint>
    <mat-error *ngIf="getErrors('ownerAddress').length > 0">{{
      getErrors("ownerAddress")[0]
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="input_40characters" appearance="outline">
    <mat-label>Spender Address</mat-label>
    <input
      type="text"
      [disableControl]="isLoading"
      matInput
      placeholder="Spender's address"
      formControlName="spenderAddress"
      maxlength="42"
      minlength="40"
    />
    <mat-hint>Inform the 42 characters long spender's account address</mat-hint>
    <mat-error *ngIf="getErrors('spenderAddress').length > 0">{{
      getErrors("spenderAddress")[0]
    }}</mat-error>
  </mat-form-field>
  <button
    [disabled]="isLoading"
    class="input_40characters"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Submit
  </button>
</form>

<div class="value-container" *ngIf="showAllowance">
  <label class="value-label">Allowance:</label>
  <mat-spinner diameter="50" *ngIf="isLoading; else balance"></mat-spinner>
</div>

<ng-template #balance>
  <div class="value" [matTooltip]="formatedAllowanceTooltip">
    {{ formatedAllowance }} {{ symbol }}
  </div>
</ng-template>
