<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="isApprovedForAll($event)"
    class="form-container"
  >
    <mat-form-field class="input_40characters" appearance="outline">
      <mat-label>Owner Address</mat-label>
      <input
        type="text"
        [disableControl]="isLoading"
        matInput
        placeholder="Owner address"
        formControlName="ownerAddress"
        maxlength="42"
        minlength="40"
      />
      <mat-hint>Inform the 42 characters long owner's account address</mat-hint>
      <mat-error *ngIf="getErrorMessage('ownerAddress')">{{
        getErrorMessage("ownerAddress")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="input_40characters" appearance="outline">
      <mat-label>Operator Address</mat-label>
      <input
        type="text"
        [disableControl]="isLoading"
        matInput
        placeholder="Operator's address"
        formControlName="operatorAddress"
        maxlength="42"
        minlength="40"
      />
      <mat-hint
        >Inform the 42 characters long operator's account address</mat-hint
      >
      <mat-error *ngIf="getErrorMessage('operatorAddress')">{{
        getErrorMessage("operatorAddress")
      }}</mat-error>
    </mat-form-field>
    <button
      class="input_40characters"
      [disabled]="isLoading"
      [class.spinner]="isLoading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </form>

  <div class="value-container" *ngIf="showApproved">
    The address
    <div class="address">{{ form.get("operatorAddress")?.value }}</div>
    <mat-spinner
      diameter="50"
      *ngIf="isLoading; else isApprovedDiv"
    ></mat-spinner>
    approved to manage all
    <div class="address">{{ form.get("ownerAddress")?.value }}</div>
    assets
  </div>

  <ng-template #isApprovedDiv>
    <div class="isApproved">{{ isApproved === true ? " IS " : " IS NOT" }}</div>
  </ng-template>
</div>
